$size:350px;
$width:$size/1.2;
$height:$size;

*{
    font-family: cursive;
}
.hidden{
    visibility: hidden;
    height: 0;
    position: absolute;
}
.history{
    visibility: hidden;
    position: absolute;
    margin: 10px;
    background-color: white;
    border: 1px double;
    padding: 5px;
}
body{
    display: grid;
    justify-content: center;
}

$divCount:1;
@while $divCount<=3 {
    .calculator#{$divCount}{
        .calcHead{
            display: grid;
            width: $width;
            height: $height/2.6;
            margin-bottom: 5px;
            input{
                width: 100%;
                text-align: end;
        
            }
            .top{
                height: ($height/2.6)/3;
            }
            .btm{
                height: ($height/2.6)/2;
                font-size: 2rem;
                // direction:rtl;
            }
        }
        .calcBody{
            display: grid;
            grid-template-areas:
            "btnAc btnDel operatorMod operatorDiv"
            "num7 num8 num9 operatorMul"
            "num4 num5 num6 operatorSub"
            "num1 num2 num3 operatorAdd"
            "num0 num0 point btnEqual" ;
            width: $width;
            height: $height;
            gap: 5px;
            // creating class for grid template----------------------
            $x:0;
            @while $x<=9 {
                .num#{$x}{
                    grid-area:num#{$x};
                }
                $x:$x+1;
            }
            // ------------------------------
            $btn:('btnAc','btnDel','btnEqual','operatorMod',
            'operatorDiv','operatorMul','operatorSub','operatorAdd','point');
            @each $class in $btn {
                .#{$class}{
                    grid-area: #{$class};
                }
            }  
        }
        .styles{
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            visibility: hidden;
        }   
    }
    $divCount:$divCount+1;
}

.calculator3{
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 0, 255);
    border-radius: 15px;
    padding: 30px;
    input{
        border-radius: 20%;
        background-color: rgb(65, 3, 40);
        color: white;
    }
    button{
        outline-offset: 4px;
        border-radius: 50%;
        background-color: rgb(65, 3, 40);
        color: white;
        box-shadow: 0 0 5px black;
        text-shadow:
        0 0 7px rgb(216, 7, 7),
        0 0 10px rgb(255, 0, 0),
        0 0 21px rgb(244, 0, 0),
        0 0 42px rgb(185, 244, 10),
        0 0 82px rgb(185, 244, 10),
        0 0 92px rgb(185, 244, 10),
        0 0 102px rgb(185, 244, 10),
        0 0 151px rgb(185, 244, 10);

        &:hover{
            background-color: rgb(113, 0, 57);
        }
    }
}
.calculator2{
    background-color: rgb(231, 227, 116);
    border: 5px double black;
    border-radius: 50px;
    padding: 30px;
   
    button{
        border-radius: 5px;
        background-color: rgb(6, 0, 3);
        color: white;
        box-shadow: 0 0 5px rgb(19, 19, 19);

        &:hover{
            background-color: rgb(78, 74, 49);
        }
    }
}
.calculator1{
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    .calcHead{
        height: 100px;
        .top{
            visibility: hidden;
            position: absolute;
        }
    }
    .calcBody{
        grid-template-areas: "btnAc btnDel operatorMod operatorDiv"
        "num7 num8 num9 operatorMul"
        "num4 num5 num6 operatorSub"
        "num1 num2 num3 operatorAdd"
        "point  num0 btnEqual operatorAdd" ;
    }
    button{
        background-color: white;
        border-radius: 2px;
        border: 1px transparent solid;
        outline-offset: 4px;
        &:hover{
            color: white;
            background-color: gray;
            border: 1px solid;
        }
    }  
}
